<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="./vendor/autoload.php" 
	stopOnWarning="false" 
	verbose="false"
	backupGlobals="false"
	backupStaticAttributes="false"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true" 
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true" 
	convertWarningsToExceptions="true"
	processIsolation="false" 
	stopOnFailure="false" 
	colors="true">
	<coverage includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<report>
			<clover outputFile=".build/clover.xml" />
			<html outputDirectory=".build/coverage" />
		</report>
	</coverage>
	<testsuites>
		<testsuite name="mammillaria">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
	<!-- Code coverage -->
	<logging />
</phpunit>
